### Introduction to the data

In [15]:
import sqlite3

conn = sqlite3.connect("nominations.db")
schema = conn.execute("pragma table_info(nominations);").fetchall()
for r in schema:
    print(r)

(0, 'false', 'INTEGER', 0, None, 0)
(1, 'Year', 'INTEGER', 0, None, 0)
(2, 'Category', 'TEXT', 0, None, 0)
(3, 'Nominee', 'TEXT', 0, None, 0)
(4, 'Won', 'INTEGER', 0, None, 0)
(5, 'Movie', 'TEXT', 0, None, 0)
(6, 'Character', 'TEXT', 0, None, 0)

In [17]:
first_ten = conn.execute("SELECT * FROM nominations limit 10;").fetchall()
for r in first_ten:
    print(r)

(0, 2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(1, 2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2, 2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(3, 2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(4, 2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(5, 2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(6, 2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(7, 2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(8, 2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(9, 2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

### Execute Queries

In [22]:
conn.execute("CREATE TABLE ceremonies( \
             id integer, \
             Year integer, \
             Host text, \
             PRIMARY KEY (id));")

In [23]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]

In [24]:
insert_query = "INSERT INTO ceremonies (Year, Host) VALUES (?,?);"
conn.executemany(insert_query, years_hosts)

In [26]:
first_ten_c = conn.execute("SELECT * FROM ceremonies limit 10;").fetchall()
for r in first_ten_c:
    print(r)
    
schema_c = conn.execute("pragma table_info(ceremonies);").fetchall()
for r in schema_c:
    print(r)

(1, 2010, 'Steve Martin')
(2, 2009, 'Hugh Jackman')
(3, 2008, 'Jon Stewart')
(4, 2007, 'Ellen DeGeneres')
(5, 2006, 'Jon Stewart')
(6, 2005, 'Chris Rock')
(7, 2004, 'Billy Crystal')
(8, 2003, 'Steve Martin')
(9, 2002, 'Whoopi Goldberg')
(10, 2001, 'Steve Martin')
(0, 'id', 'integer', 0, None, 1)
(1, 'Year', 'integer', 0, None, 0)
(2, 'Host', 'text', 0, None, 0)

In [27]:
conn.execute("PRAGMA foreign_keys = ON;")

In [33]:
conn.execute("CREATE TABLE nominations_two( \
             id integer primary key, \
             category text, \
             nominee text, \
             movie text, \
             character text, \
             won integer, \
             ceremony_id integer, \
             FOREIGN KEY(ceremony_id) REFERENCES ceremonies(id));")

In [43]:
nom_query = '''
select ceremonies.id as ceremony_id, nominations.category as category, 
nominations.nominee as nominee, nominations.movie as movie, 
nominations.character as character, nominations.won as won
from nominations
inner join ceremonies 
on nominations.year == ceremonies.year
;
'''

joined_nominations = conn.execute(nom_query).fetchall()

In [46]:
print(conn.execute("select * from nominations_two limit 5;").fetchall())

[(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, None), (2, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1), (3, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', 0, 1), (4, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', 0, 1), (5, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', 1, 1)]

In [45]:
insert_query = "INSERT INTO nominations_two (ceremony_id, category, nominee, movie, character, won) VALUES (?,?,?,?,?,?);"
conn.executemany(insert_query, joined_nominations)

In [47]:
conn.execute("DROP TABLE nominations;")
conn.execute("ALTER TABLE nominations_two RENAME TO nominations;")

In [50]:
conn.execute("drop table movies")
conn.execute("drop table actors")

create_movies = "create table movies (id integer primary key,movie text);"
create_actors = "create table actors (id integer primary key,actor text);"
create_movieactors = '''create table movies_actors (
id integer primary key,
movie_id integer,
actor_id integer,
FOREIGN KEY(movie_id) REFERENCES movies(id),
FOREIGN KEY(actor_id) REFERENCES actors(id));
'''

conn.execute(create_movies)
conn.execute(create_actors)
conn.execute(create_movieactors)

In [51]:
insert_movies = "insert into movies (movie) select distinct movie from nominations;"
insert_actors = "insert into actors (actor) select distinct nominee from nominations;"
conn.execute(insert_movies)
conn.execute(insert_actors)

print(conn.execute("select * from movies limit 5;").fetchall())
print(conn.execute("select * from actors limit 5;").fetchall())

[(1, 'Biutiful'), (2, 'True Grit'), (3, 'The Social Network'), (4, "The King's Speech"), (5, '127 Hours')]
[(1, 'Javier Bardem'), (2, 'Jeff Bridges'), (3, 'Jesse Eisenberg'), (4, 'Colin Firth'), (5, 'James Franco')]

In [52]:
pairs_query = "select movie,nominee from nominations;"
movie_actor_pairs = conn.execute(pairs_query).fetchall()
print(movie_actor_pairs)

[('Biutiful', 'Javier Bardem'), ('Biutiful', 'Javier Bardem'), ('True Grit', 'Jeff Bridges'), ('The Social Network', 'Jesse Eisenberg'), ("The King's Speech", 'Colin Firth'), ('127 Hours', 'James Franco'), ('The Fighter', 'Christian Bale'), ("Winter's Bone", 'John Hawkes'), ('The Town', 'Jeremy Renner'), ('The Kids Are All Right', 'Mark Ruffalo'), ("The King's Speech", 'Geoffrey Rush'), ('The Kids Are All Right', 'Annette Bening'), ('Rabbit Hole', 'Nicole Kidman'), ("Winter's Bone", 'Jennifer Lawrence'), ('Black Swan', 'Natalie Portman'), ('Blue Valentine', 'Michelle Williams'), ('The Fighter', 'Amy Adams'), ("The King's Speech", 'Helena Bonham Carter'), ('The Fighter', 'Melissa Leo'), ('True Grit', 'Hailee Steinfeld'), ('Animal Kingdom', 'Jacki Weaver'), ('Crazy Heart', 'Jeff Bridges'), ('Up in the Air', 'George Clooney'), ('A Single Man', 'Colin Firth'), ('Invictus', 'Morgan Freeman'), ('The Hurt Locker', 'Jeremy Renner'), ('Invictus', 'Matt Damon'), ('The Messenger', 'Woody Harrelson'), ('The Last Station', 'Christopher Plummer'), ('The Lovely Bones', 'Stanley Tucci'), ('Inglourious Basterds', 'Christoph Waltz'), ('The Blind Side', 'Sandra Bullock'), ('The Last Station', 'Helen Mirren'), ('An Education', 'Carey Mulligan'), ("Precious: Based on the Novel 'Push' by Sapphire", 'Gabourey Sidibe'), ('Julie & Julia', 'Meryl Streep'), ('Nine', 'Penélope Cruz'), ('Up in the Air', 'Vera Farmiga'), ('Crazy Heart', 'Maggie Gyllenhaal'), ('Up in the Air', 'Anna Kendrick'), ("Precious: Based on the Novel 'Push' by Sapphire", "Mo'Nique"), ('The Visitor', 'Richard Jenkins'), ('Frost/Nixon', 'Frank Langella'), ('Milk', 'Sean Penn'), ('The Curious Case of Benjamin Button', 'Brad Pitt'), ('The Wrestler', 'Mickey Rourke'), ('Milk', 'Josh Brolin'), ('Tropic Thunder', 'Robert Downey Jr.'), ('Doubt', 'Philip Seymour Hoffman'), ('The Dark Knight', 'Heath Ledger'), ('Revolutionary Road', 'Michael Shannon'), ('Rachel Getting Married', 'Anne Hathaway'), ('Changeling', 'Angelina Jolie'), ('Frozen River', 'Melissa Leo'), ('Doubt', 'Meryl Streep'), ('The Reader', 'Kate Winslet'), ('Doubt', 'Amy Adams'), ('Vicky Cristina Barcelona', 'Penélope Cruz'), ('Doubt', 'Viola Davis'), ('The Curious Case of Benjamin Button', 'Taraji P. Henson'), ('The Wrestler', 'Marisa Tomei'), ('Michael Clayton', 'George Clooney'), ('There Will Be Blood', 'Daniel Day-Lewis'), ('Sweeney Todd The Demon Barber of Fleet Street', 'Johnny Depp'), ('In the Valley of Elah', 'Tommy Lee Jones'), ('Eastern Promises', 'Viggo Mortensen'), ('The Assassination of Jesse James by the Coward Robert Ford', 'Casey Affleck'), ('No Country for Old Men', 'Javier Bardem'), ("Charlie Wilson's War", 'Philip Seymour Hoffman'), ('Into the Wild', 'Hal Holbrook'), ('Michael Clayton', 'Tom Wilkinson'), ('Elizabeth: The Golden Age', 'Cate Blanchett'), ('Away from Her', 'Julie Christie'), ('La Vie en Rose', 'Marion Cotillard'), ('The Savages', 'Laura Linney'), ('Juno', 'Ellen Page'), ("I'm Not There", 'Cate Blanchett'), ('American Gangster', 'Ruby Dee'), ('Atonement', 'Saoirse Ronan'), ('Gone Baby Gone', 'Amy Ryan'), ('Michael Clayton', 'Tilda Swinton'), ('Blood Diamond', 'Leonardo DiCaprio'), ('Half Nelson', 'Ryan Gosling'), ('Venus', "Peter O'Toole"), ('The Pursuit of Happyness', 'Will Smith'), ('The Last King of Scotland', 'Forest Whitaker'), ('Little Miss Sunshine', 'Alan Arkin'), ('Little Children', 'Jackie Earle Haley'), ('Blood Diamond', 'Djimon Hounsou'), ('Dreamgirls', 'Eddie Murphy'), ('The Departed', 'Mark Wahlberg'), ('Volver', 'Penélope Cruz'), ('Notes on a Scandal', 'Judi Dench'), ('The Queen', 'Helen Mirren'), ('The Devil Wears Prada', 'Meryl Streep'), ('Little Children', 'Kate Winslet'), ('Babel', 'Adriana Barraza'), ('Notes on a Scandal', 'Cate Blanchett'), ('Little Miss Sunshine', 'Abigail Breslin'), ('Dreamgirls', 'Jennifer Hudson'), ('Babel', 'Rinko Kikuchi'), ('Capote', 'Philip Seymour Hoffman'), ('Hustle & Flow', 'Terrence Howard'), ('Brokeback Mountain', 'Heath Ledger'), ('Walk the Line', 'Joaquin Phoenix'), ('Good Night, and Good Luck.', 'David Strathairn'), ('Syriana', 'George Clooney'), ('Crash', 'Matt Dillon'), ('Cinderella Man', 'Paul Giamatti'), ('Brokeback Mountain', 'Jake Gyllenhaal'), ('A History of Violence', 'William Hurt'), ('Mrs. Henderson Presents', 'Judi Dench'), ('Transamerica', 'Felicity Huffman'), ('Pride & Prejudice', 'Keira Knightley'), ('North Country', 'Charlize Theron'), ('Walk the Line', 'Reese Witherspoon'), ('Junebug', 'Amy Adams'), ('Capote', 'Catherine Keener'), ('North Country', 'Frances McDormand'), ('The Constant Gardener', 'Rachel Weisz'), ('Brokeback Mountain', 'Michelle Williams'), ('Hotel Rwanda', 'Don Cheadle'), ('Finding Neverland', 'Johnny Depp'), ('The Aviator', 'Leonardo DiCaprio'), ('Million Dollar Baby', 'Clint Eastwood'), ('Ray', 'Jamie Foxx'), ('The Aviator', 'Alan Alda'), ('Sideways', 'Thomas Haden Church'), ('Collateral', 'Jamie Foxx'), ('Million Dollar Baby', 'Morgan Freeman'), ('Closer', 'Clive Owen'), ('Being Julia', 'Annette Bening'), ('Maria Full of Grace', 'Catalina Sandino Moreno'), ('Vera Drake', 'Imelda Staunton'), ('Million Dollar Baby', 'Hilary Swank'), ('Eternal Sunshine of the Spotless Mind', 'Kate Winslet'), ('The Aviator', 'Cate Blanchett'), ('Kinsey', 'Laura Linney'), ('Sideways', 'Virginia Madsen'), ('Hotel Rwanda', 'Sophie Okonedo'), ('Closer', 'Natalie Portman'), ('Pirates of the Caribbean: The Curse of the Black Pearl', 'Johnny Depp'), ('House of Sand and Fog', 'Ben Kingsley'), ('Cold Mountain', 'Jude Law'), ('Lost in Translation', 'Bill Murray'), ('Mystic River', 'Sean Penn'), ('The Cooler', 'Alec Baldwin'), ('21 Grams', 'Benicio Del Toro'), ('In America', 'Djimon Hounsou'), ('Mystic River', 'Tim Robbins'), ('The Last Samurai', 'Ken Watanabe'), ('Whale Rider', 'Keisha Castle-Hughes'), ("Something's Gotta Give", 'Diane Keaton'), ('In America', 'Samantha Morton'), ('Monster', 'Charlize Theron'), ('21 Grams', 'Naomi Watts'), ('House of Sand and Fog', 'Shohreh Aghdashloo'), ('Pieces of April', 'Patricia Clarkson'), ('Mystic River', 'Marcia Gay Harden'), ('Thirteen', 'Holly Hunter'), ('Cold Mountain', 'Renée Zellweger'), ('The Pianist', 'Adrien Brody'), ('Adaptation', 'Nicolas Cage'), ('The Quiet American', 'Michael Caine'), ('Gangs of New York', 'Daniel Day-Lewis'), ('About Schmidt', 'Jack Nicholson'), ('Adaptation', 'Chris Cooper'), ('The Hours', 'Ed Harris'), ('Road to Perdition', 'Paul Newman'), ('Chicago', 'John C. Reilly'), ('Catch Me If You Can', 'Christopher Walken'), ('Frida', 'Salma Hayek'), ('The Hours', 'Nicole Kidman'), ('Unfaithful', 'Diane Lane'), ('Far from Heaven', 'Julianne Moore'), ('Chicago', 'Renée Zellweger'), ('About Schmidt', 'Kathy Bates'), ('The Hours', 'Julianne Moore'), ('Chicago', 'Queen Latifah'), ('Adaptation', 'Meryl Streep'), ('Chicago', 'Catherine Zeta-Jones'), ('A Beautiful Mind', 'Russell Crowe'), ('I Am Sam', 'Sean Penn'), ('Ali', 'Will Smith'), ('Training Day', 'Denzel Washington'), ('In the Bedroom', 'Tom Wilkinson'), ('Iris', 'Jim Broadbent'), ('Training Day', 'Ethan Hawke'), ('Sexy Beast', 'Ben Kingsley'), ('The Lord of the Rings: The Fellowship of the Ring', 'Ian McKellen'), ('Ali', 'Jon Voight'), ("Monster's Ball", 'Halle Berry'), ('Iris', 'Judi Dench'), ('Moulin Rouge', 'Nicole Kidman'), ('In the Bedroom', 'Sissy Spacek'), ("Bridget Jones's Diary", 'Renée Zellweger'), ('A Beautiful Mind', 'Jennifer Connelly'), ('Gosford Park', 'Helen Mirren'), ('Gosford Park', 'Maggie Smith'), ('In the Bedroom', 'Marisa Tomei'), ('Iris', 'Kate Winslet')]

In [53]:
join_table_insert = "insert into movies_actors (movie_id, actor_id) values ((select id from movies where movie == ?),(select id from actors where actor == ?));"
conn.executemany(join_table_insert,movie_actor_pairs)

print(conn.execute("select * from movies_actors limit 5;").fetchall())

[(1, 1, 1), (2, 1, 1), (3, 2, 2), (4, 3, 3), (5, 4, 4)]